<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logfiles/internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- add your targets here -->
    <target name="FileTarget" xsi:type="File" fileName="Logfiles/${shortdate}_nlog.txt"/>
    <!--CREATE TABLE Log (
    Timestamp TEXT,
    Callsite  TEXT,
    Loglevel  TEXT,
    Logger    TEXT,
    Message   TEXT,
    Exception TEXT
    );-->
    <target name="SqliteTarget" xsi:type="Database" keepConnection="false"            
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
            connectionString="Data Source=D:\\MyCode\\ThinkInDoNet\\AutoFactory\\SqliteDemo\\bin\\Debug\\netcoreapp2.1\\dapperTest.db;"
            commandType="Text"
            commandText="INSERT into Log(Timestamp, Loglevel, Logger, Callsite, Message,Exception) values(@Timestamp, @Loglevel, @Logger, @Callsite, @Message,@Exception)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception}"/>
    </target>  
  </targets>
  <rules>
    <!--不可以同时设置minlevel和maxlevel-->
    <logger name="*" minlevel ="INFO" writeTo="SqliteTarget" />
    <logger name="*" minlevel ="TRACE" writeTo="FileTarget" />
  </rules>
</nlog>