<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logfiles/internal-nlog.txt">
  <!-- define various log targets -->
  <targets>
    <!-- add your targets here -->
    <target name="FileTarget" xsi:type="File" fileName="logfiles/${shortdate}_nlog.txt"/>

    <!--CREATE TABLE Log (
    Timestamp TEXT,
    Callsite  TEXT,
    Loglevel  TEXT,
    Logger    TEXT,
    Message   TEXT,
    Exception TEXT
    );-->
    <target name="SqliteTarget_Base" xsi:type="Database" keepConnection="false"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
            connectionString="Data Source=D:\\MyCode\\ThinkInDoNet\\AutoFactory\\SqliteDemo\\bin\\Debug\\netcoreapp2.1\\dapperTest.db;"
            commandType="Text"
            commandText="INSERT INTO Log(Timestamp, Loglevel, Logger, Callsite, Message,Exception) values(@Timestamp, @Loglevel, @Logger, @Callsite, @Message,@Exception)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception}"/>
    </target>

    <!--CREATE TABLE LogRequest (
    FId          INTEGER NOT NULL
    CONSTRAINT PK_LogRequest PRIMARY KEY AUTOINCREMENT,
    FName        TEXT,
    FRequestUrl  TEXT,
    FRequestType TEXT,
    FParameters  TEXT,
    FMessage     TEXT,
    FDetails     TEXT,
    FIPAddress   TEXT,
    FRequestUser TEXT,
    FRequestTime TEXT    NOT NULL
    );-->
    <target name="SqliteTarget_LogRequest" xsi:type="Database" keepConnection="false"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
            connectionString="Data Source=D:\\MyCode\\ThinkInDoNet\\AutoFactory\\SqliteDemo\\bin\\Debug\\netcoreapp2.1\\dapperTest.db;"
            commandType="Text"
            commandText="INSERT INTO LogRequest(FName, FRequestUrl, FRequestType, FParameters, FMessage,FDetails,FIPAddress,FRequestUser,FRequestTime) values(@FName, @FRequestUrl, @FRequestType, @FParameters, @FMessage,@FDetails,@FIPAddress,@FRequestUser,@FRequestTime)">
      <parameter name="@FName" layout="${event-context:item=FName}"/>
      <parameter name="@FRequestUrl" layout="${event-context:item=FRequestUrl}"/>
      <parameter name="@FRequestType" layout="${event-context:item=FRequestType}"/>
      <parameter name="@FParameters" layout="${event-context:item=FParameters}"/>
      <parameter name="@FMessage" layout="${event-context:item=FMessage}"/>
      <parameter name="@FDetails" layout="${event-context:item=FDetails}"/>
      <parameter name="@FIPAddress" layout="${event-context:item=FIPAddress}"/>
      <parameter name="@FRequestUser" layout="${event-context:item=FRequestUser}"/>
      <parameter name="@FRequestTime" layout="${longdate}"/>
    </target>
  </targets>
  <rules>
    <!--不可以同时设置minlevel和maxlevel-->
    <!--name=*，LogManager.GetCurrentClassLogger();-->
    <!--name=SqliteTarget_LogRequest，LogManager.GetLogger("SqliteTarget_LogRequest");-->
    <logger name="*" minlevel ="INFO" writeTo="SqliteTarget_Base" />
    <logger name="SqliteTarget_LogRequest" minlevel ="INFO" writeTo="SqliteTarget_LogRequest" />
    <logger name="*" minlevel ="TRACE" writeTo="FileTarget" />
  </rules>
</nlog>